@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.text-center{
    color: rgb(0, 0, 180);
    font-weight: bold;
}

.border{
    border: 4px solid rgb(75, 75, 75);
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(105, 105, 105);
}
.button{
  width: 86px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  background-color: rgb(186, 186, 186);
  border-radius: 9px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#col{
    background-color: rgb(252, 182, 76);
}
.row{
  margin: 8px 0;
}
.row input{
  width: 370px;
  font-size: 27px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid  rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}